/* CSS Document */

nav ul li{
	display: inline-block;
    margin-right: 20px;
}

#navPan{
	text-align:center;
}

#busqueda{
    float: right;
    margin-right: 0px;
}

a{
	text-decoration:none;
	color:#000;
}